# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# dotenv environment variables
.env

# Byte-compiled / optimized files
*.pyc
*.pyo

# Logs and database
*.log
*.sqlite3

# IDEs and editors
.vscode/
.idea/ 